.homepage {

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .inner-container-hp {
    // background-image: url(../assets/map.png);
    border: 1px solid pink; 
    padding: 20px;
  
  }
  
  .box-hp {
    height: 70vh;
  }
  
  .btn-large-hp {
    border-radius: 20px !important;
    width: 60px;
  }
  
  .btn-large-hp:hover {
    background-color: white;
  }
  
  .material-icons {
    font-size: 36px !important;
  }
  
  .flex-1 {
    display: flex;
    justify-content: space-between;
  }
  
  .flex-2 {
    display: flex;
    justify-content: space-evenly;
  }
  .avatar-hp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bold {
    font-weight: bold;
  }
  
  .avatar-item-hp img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border: 5px solid limegreen;
    border-radius: 32px;
    z-index: 1;
    position: absolute;
    margin-top: -45px;
    margin-left: -34px;
  }
  
  .pointer-hp {
    height: 30px;
    width: 30px;
    background: limegreen;
    transform: rotate(225deg);
    border-radius: 0 0 12px 0;
  }
  

}

