.header {
  height: 500px;
  background-color: blue;
  border-radius: 0 0 400px 400px;
  margin-top: -350px;
}
.container {
  padding: 50px;
}
.avatar {
  height: 200px;
  width: 200px;
  border: 2px solid #d9dce0;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: -100px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.material-icons {
  color: purple;
  font-size: 30px !important;
}

.input-field .prefix ~ input {
  margin-left: 7rem !important;
}

.btn-large {
  border-radius: 45px !important;
  width: 150px !important;
}

.grad {
  background-image: linear-gradient(to right, #241495, #b756d2);
}

.avatar_icon {
  font-size: 170px !important;
  background: -webkit-linear-gradient(#241495, #b756d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
